.dropdowns{
    display: inline flex;
    flex-direction: row;
    background-color: lightskyblue;
    padding: 1em;
    margin-top: 2em;
    
}

.dropdown-button{
    margin: 1em 0 1em 0;
    padding:1em 1em 1em 1em;
    
}
