.dropdowns{
    display: inline flex;
    flex-direction: row;
    background-color:lightblue;
    padding: 1em;
    margin-top: 2em;
    border-radius: 2.5%;
    
}

.dropdown-button{
    margin: 0.5em 0 0.5em 0;
    padding:0.5em 1em 0.5em 1em;
    font-size: medium;
    font-weight: bold;
    font-size: 18px;
    
}

#currentDataset{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 25px;
letter-spacing: -1.2px;
word-spacing: 0.6px;
color: #000000;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: capitalize;
}