
.datasetsDisplay{
    background-color:white;
    position: relative;
	
	flex-direction: row-reverse;
    width: 100%;
    height: 10em;
    padding: 10px 20px 10px 20px;
	/* background-image:
	linear-gradient(to bottom,
	  rgba(240, 255, 40, 1) 0%,
	  rgba(240, 255, 40, 1) 100%),
	linear-gradient(to bottom,
	  rgba(240, 40, 40, 1) 0%,
	  rgba(240, 40, 40, 1) 100%);
  background-clip: content-box, padding-box; */

}

.myButton {
 display:inline-flex;
 margin: 10px 10px 10px 10px;
 
 position: relative;
}
.myButton:hover {
	
	background-color:lightgray;
}
.myButton:active {
	position:relative;
	background-color:white;
	top:2px;
}

.myButton:focus {
	background-color:white;
}
        